{% load static from staticfiles %}

<html>
    <head>
        <title>CLOCKSS Preservation - {{ current_year }}</title>
        <link href="{% static "dist/css/app.css" %}" rel="stylesheet">
        {% if request.journal %}<link href="{% static "dist/css/journal" %}{{ request.journal.id }}_override.css" rel="stylesheet">{% endif %}
    </head>
    <body>
        <div class="row">
            <div class="columns-12 large">
                <h3>CLOCKSS Manifest - {{ current_year }}</h3>
                 <p>{% if previous %}<a href="{% url 'index' %}?year={{ previous }}">Previous</a>{% endif %}{% if previous and next %} -- {% endif %}{% if next %}<a href="{% url 'index' %}?year={{ next }}">Next</a>{% endif %}</p>

                <h5>Archive of Issues - {{ current_year }}</h5>
                <ul>{% for issue in issues %}
                    <li><a href="{% url 'journal_issue' issue.id %}">{{ issue }}</a></li>{% endfor %}
                </ul>
                <h5>Archive of Articles - {{ current_year }}</h5>
                <ul>{% for article in articles %}
                    <li><a href="{% url 'article_print_article' 'id' article.pk %}">{{ article.title }}</a>{% endfor %}</li>
                </ul>
                <h3>Metadata</h3>
                <table>
                    <tr>
                        <th>Journal URL</th>
                        <td>{{ request.journal_base_url }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ request.journal.name }}</td>
                    </tr>
                    <tr>
                        <th>Publisher</th>
                        <td>{{ journal_settings.general.publisher_name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ journal_settings.general.journal_description|safe }}</td>
                    </tr>
                    <tr>
                        <th>Copyright</th>
                        <td>{{ journal_settings.general.copyright_notice|safe }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>